<div class="row m-x-0">
  <% obj.each do |article| %>
    <div class="col-md-5 well">
      <h4><strong style="text-transform: uppercase"><%= link_to article.name, article_path(id: article.id) %></strong></h4>
      <p><%= truncate(article.description, length: 250) %></p>
    </div>
  <% end %>
</div>
