<div class="bg-image"></div>
<div style="background:transparent !important"  class="jumbotron text-center">
  <h1>Welcome to Tech Blog App</h1>
 <% if !logged_in? %>
  <p><%= link_to "Sign up", signup_path, class:'btn btn-danger btn-lg btn-xlg' %></p>
  <% end %>
</div>
    <hr/>
    <%= render "articles/article_home", obj: @articles %>
  </div>
  
 