<footer class="footer">
  <small>
    <strong><a href="#"></a>A Demo Application</strong>
    by <em><a href="#">Mithun Raam</a></em>
  </small>
  <nav>
    <ul>
      <a href="https://www.linkedin.com/in/mithun-raam/" target = "blank" >About Me</a>
    </ul>
  </nav>
</footer>